In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("TV_show_data.csv")

In [4]:
data

,Name,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
0,Breaking Bad,"Breaking Bad follows protagonist Walter White,...",60.0,2008-01-20,2019-10-11,"['Drama', 'Crime', 'Thriller']",Scripted,English,AMC,9.2,['Sunday'],22:00,5,62,"0-Walter White, 1-Jesse Pinkman, 2-Skyler Whit...","0-Bryan Cranston, 1-Aaron Paul, 2-Anna Gunn, 3...",http://www.amc.com/shows/breaking-bad
1,Firefly,"Five hundred years in the future, a renegade c...",64.0,2002-09-20,2002-12-20,"['Drama', 'Adventure', 'Science-Fiction']",Scripted,English,FOX,9.0,['Friday'],20:00,1,14,"0-Captain Malcolm ""Mal"" Reynolds, 1-Zoe Alleyn...","0-Nathan Fillion, 1-Gina Torres, 2-Alan Tudyk,...",NaN
2,Avatar: The Last Airbender,Water. Earth. Fire. Air. Only the Avatar was t...,30.0,2005-02-21,2008-07-19,"['Action', 'Adventure', 'Fantasy']",Animation,English,Nickelodeon,8.9,['Saturday'],11:00,3,61,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...","0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...",https://www.nick.com/shows/avatar
3,Sherlock,Sherlock Holmes and Dr. John Watson's adventur...,90.0,2010-07-25,2017-01-15,"['Drama', 'Crime', 'Mystery']",Scripted,English,BBC One,8.9,['Sunday'],21:00,4,12,"0-Sherlock Holmes, 1-Dr. John Watson","0-Benedict Cumberbatch, 1-Martin Freeman",http://www.bbc.co.uk/programmes/b018ttws
4,Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1528,All-Star Academy,Ten talented and successful home cooks from ar...,60.0,2015-03-01,2016-04-03,['Food'],Game Show,English,Food Network,NaN,['Sunday'],21:00,2,16,"0-Host, 1-Mentor, 2-Mentor, 3-Mentor, 4-Mentor...","0-Ted Allen, 1-Alex Guarnaschelli, 2-Curtis St...",http://www.foodnetwork.com/shows/all-star-academy
1529,Neighbors with Benefits,The series follows multiple married couples as...,60.0,2015-03-22,2015-03-29,[],Reality,English,A&E,NaN,['Sunday'],22:00,1,2,NaN,NaN,NaN
1530,Funny Girls,The series follows the professional and person...,60.0,2015-04-07,2015-05-26,['Comedy'],Reality,English,Oxygen,NaN,['Tuesday'],21:00,1,8,"0-Ester Steinberg, 1-Scout Durwood, 2-Jess Var...","0-Ester Steinberg, 1-Scout Durwood, 2-Jess Var...",http://www.oxygen.com/funny-girls
1531,Cedric's Barber Battle,"CEDRIC'S <i>BARBER BATTLE</i>, an all-new real...",30.0,2015-04-17,2015-07-27,[],Reality,English,The CW,NaN,['Monday'],21:30,1,11,0-Host,0-Cedric the Entertainer,NaN
1532,The Ambassador,The Ambassador follows the private and politic...,50.0,1998-01-04,1999-05-30,['Drama'],Scripted,English,BBC One,NaN,['Sunday'],21:00,2,13,"0-Harriet Smith, 1-John Stone","0-Pauline Collins, 1-Denis Lawson",NaN

In [5]:
data.head()

,Name,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
0,Breaking Bad,"Breaking Bad follows protagonist Walter White,...",60.0,2008-01-20,2019-10-11,"['Drama', 'Crime', 'Thriller']",Scripted,English,AMC,9.2,['Sunday'],22:00,5,62,"0-Walter White, 1-Jesse Pinkman, 2-Skyler Whit...","0-Bryan Cranston, 1-Aaron Paul, 2-Anna Gunn, 3...",http://www.amc.com/shows/breaking-bad
1,Firefly,"Five hundred years in the future, a renegade c...",64.0,2002-09-20,2002-12-20,"['Drama', 'Adventure', 'Science-Fiction']",Scripted,English,FOX,9.0,['Friday'],20:00,1,14,"0-Captain Malcolm ""Mal"" Reynolds, 1-Zoe Alleyn...","0-Nathan Fillion, 1-Gina Torres, 2-Alan Tudyk,...",NaN
2,Avatar: The Last Airbender,Water. Earth. Fire. Air. Only the Avatar was t...,30.0,2005-02-21,2008-07-19,"['Action', 'Adventure', 'Fantasy']",Animation,English,Nickelodeon,8.9,['Saturday'],11:00,3,61,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...","0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...",https://www.nick.com/shows/avatar
3,Sherlock,Sherlock Holmes and Dr. John Watson's adventur...,90.0,2010-07-25,2017-01-15,"['Drama', 'Crime', 'Mystery']",Scripted,English,BBC One,8.9,['Sunday'],21:00,4,12,"0-Sherlock Holmes, 1-Dr. John Watson","0-Benedict Cumberbatch, 1-Martin Freeman",http://www.bbc.co.uk/programmes/b018ttws
4,Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/

In [7]:
data["Language"].unique()

array(['English', 'Japanese', 'Danish', 'German', 'Spanish', 'Dutch',
       'Korean', 'French', 'Swedish', 'Portuguese'], dtype=object)

In [12]:
for i in data.columns:
    print(i)

Name
Summary
Average Runtime
End Date
Premiere Date
Genres
Type
Language
Network
Rating
Schedule (days)
Schedule (time)
Total Seasons
Total Episodes
Character Names
Person Names
Official Site

In [15]:
data["Name"].unique()

array(['Breaking Bad', 'Firefly', 'Avatar: The Last Airbender', ...,
       'Funny Girls', "Cedric's Barber Battle", 'The Ambassador'],
      dtype=object)

In [17]:
data.shape

(1533, 17)

In [19]:
data.isnull().sum()

Name                 0
Summary              0
Average Runtime      1
End Date             1
Premiere Date      156
Genres               0
Type                 0
Language             0
Network             69
Rating             278
Schedule (days)      0
Schedule (time)    167
Total Seasons        0
Total Episodes       0
Character Names    157
Person Names       157
Official Site      750
dtype: int64

In [27]:
data.describe()

       Average Runtime       Rating  Total Seasons  Total Episodes
count      1532.000000  1255.000000    1533.000000     1533.000000
mean         51.501305     7.391554       5.537508      120.156556
std          19.277664     0.838198       6.769474      362.353547
min           2.000000     3.000000       1.000000        0.000000
25%          30.000000     7.000000       1.000000       13.000000
50%          60.000000     7.600000       3.000000       40.000000
75%          60.000000     7.900000       7.000000      110.000000
max         190.000000     9.200000      63.000000     6850.000000

In [30]:
data.isnull()
data.isnull().sum()

Name                 0
Summary              0
Average Runtime      1
End Date             1
Premiere Date      156
Genres               0
Type                 0
Language             0
Network             69
Rating             278
Schedule (days)      0
Schedule (time)    167
Total Seasons        0
Total Episodes       0
Character Names    157
Person Names       157
Official Site      750
dtype: int64

In [36]:
new_data = data.dropna()

In [38]:
new_data.isnull().sum()

Name               0
Summary            0
Average Runtime    0
End Date           0
Premiere Date      0
Genres             0
Type               0
Language           0
Network            0
Rating             0
Schedule (days)    0
Schedule (time)    0
Total Seasons      0
Total Episodes     0
Character Names    0
Person Names       0
Official Site      0
dtype: int64

In [43]:
data["Official Site"].isnull().sum()

750

In [45]:
data["Character Names"].isnull().sum()

157

In [46]:
data["Character Names"].dropna()

0       0-Walter White, 1-Jesse Pinkman, 2-Skyler Whit...
1       0-Captain Malcolm "Mal" Reynolds, 1-Zoe Alleyn...
2       0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...
3                    0-Sherlock Holmes, 1-Dr. John Watson
4        0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger
                              ...
1522                                      0-Michelle Ward
1528    0-Host, 1-Mentor, 2-Mentor, 3-Mentor, 4-Mentor...
1530    0-Ester Steinberg, 1-Scout Durwood, 2-Jess Var...
1531                                               0-Host
1532                        0-Harriet Smith, 1-John Stone
Name: Character Names, Length: 1376, dtype: object

In [48]:
data.isnull().sum()

Name                 0
Summary              0
Average Runtime      1
End Date             1
Premiere Date      156
Genres               0
Type                 0
Language             0
Network             69
Rating             278
Schedule (days)      0
Schedule (time)    167
Total Seasons        0
Total Episodes       0
Character Names    157
Person Names       157
Official Site      750
dtype: int64

In [57]:
data.head()

,Name,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
0,Breaking Bad,"Breaking Bad follows protagonist Walter White,...",60.0,2008-01-20,2019-10-11,"['Drama', 'Crime', 'Thriller']",Scripted,English,AMC,9.2,['Sunday'],22:00,5,62,"0-Walter White, 1-Jesse Pinkman, 2-Skyler Whit...","0-Bryan Cranston, 1-Aaron Paul, 2-Anna Gunn, 3...",http://www.amc.com/shows/breaking-bad
1,Firefly,"Five hundred years in the future, a renegade c...",64.0,2002-09-20,2002-12-20,"['Drama', 'Adventure', 'Science-Fiction']",Scripted,English,FOX,9.0,['Friday'],20:00,1,14,"0-Captain Malcolm ""Mal"" Reynolds, 1-Zoe Alleyn...","0-Nathan Fillion, 1-Gina Torres, 2-Alan Tudyk,...",NaN
2,Avatar: The Last Airbender,Water. Earth. Fire. Air. Only the Avatar was t...,30.0,2005-02-21,2008-07-19,"['Action', 'Adventure', 'Fantasy']",Animation,English,Nickelodeon,8.9,['Saturday'],11:00,3,61,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...","0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...",https://www.nick.com/shows/avatar
3,Sherlock,Sherlock Holmes and Dr. John Watson's adventur...,90.0,2010-07-25,2017-01-15,"['Drama', 'Crime', 'Mystery']",Scripted,English,BBC One,8.9,['Sunday'],21:00,4,12,"0-Sherlock Holmes, 1-Dr. John Watson","0-Benedict Cumberbatch, 1-Martin Freeman",http://www.bbc.co.uk/programmes/b018ttws
4,Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/

# find the avarage of rating in rating column

In [78]:
new_data["Rating"].mean()

7.561814345991562

In [79]:
c = 0
for i in new_data["Rating"]:
    c+=i
print(c)
print(c/len(new_data["Rating"]))

3584.2999999999993
7.56181434599156

# how many shows are having 10 out of 10 rating

In [83]:
s = 0
for i in new_data["Rating"]:
    if (i == 10):
        s+=i
print(s,"shows are having 10 out of 10 ratings")

0 shows are having 10 out of 10 ratings

# how many shows are having 8.9 ratings

In [86]:
s = 0
for i in new_data["Rating"]:
    if (i == 8.0):
        s+=1
print(s,"shows are having 8.9 ratings")

65 shows are having 8.9 ratings

# how many showas are having 5.0 to 8.9 ratings

In [91]:
s = 0
for i in new_data["Rating"]:
    if (i >=5.0 and i <= 8.9):
        s+=1
print(s,"shows are having rating 5,0 to 8.9 ratings ")

466 shows are having rating 5,0 to 8.9 ratings

# how many shows are having 8.0 to 10 ratings

In [94]:
s = 0
for i in new_data["Rating"]:
    if (i >= 8.0 and i<= 10):
        s+=1
print(s,"shows are having 8.0 to 10 ratings")

156 shows are having 8.0 to 10 ratings